.article__image{
    display: block;

    border-radius: 10px;
    border: 0px;

    width: 200px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .article__image{    
        width: 100%;
    }
}

